{% extends "base.html" %}

{% block title %}
<title>Assignment edit</title>
{% endblock %}


{% block content %}

<div class="container mt-4" style="max-width: 60%;">
    <!-- JSON Editor Holder -->
    <div id="editor_holder" class="p-3 border rounded shadow-sm"></div>

    <div class="container mt-4 text-center">
        <!-- Action Buttons (Save, View, Delete) -->
        <div class="btn-container-horizontal mt-4 d-flex justify-content-center">
            <button type="button" class="btn btn-success btn-custom mx-2" onclick="saveExistingAssignment('{{ assignment.id }}')">Save Assignment</button>
            <button type="button" class="btn btn-primary btn-custom mx-2" onclick="createNewVersion('{{ assignment.id }}')">Fork new version</button>
            <button class="btn btn-secondary btn-custom mx-2" onclick="viewAssignment('{{ assignment.id }}')">View Assignment</button>
            <button class="btn btn-danger btn-custom mx-2" onclick="deleteAssignment('{{ assignment.id }}')">Delete Assignment</button>
        </div>
    </div>
</div>

<!-- Initialize Json Editor -->
<script>

    const schema = {{ assignment_ui_schema | tojson }};
    const initialData = {{ assignment | tojson }};
    const eventsMapper = {{ events_mapper | tojson }};

    // console.log(schema);

    const element = document.getElementById('editor_holder');

    const editor = new JSONEditor(element, {
        schema: schema,
        startval: initialData,
        theme: 'bootstrap5',
        iconlib: 'bootstrap',
        compact: true,
        disable_collapse: false,
        switcher: true,
        disable_edit_json: true,
        disable_properties: true,
        layout: "normal",
        show_errors: "interaction",
        array_controls_top: false,
        use_name_attributes: true,
    });

    let previousEventTypeValueStorage = {}

    editor.on("ready", () => {
        // getFromLocalStorage(editor);
        previousEventTypeValueStorage = collectEventPathsAndValues(editor);
        expandTextareas("editor_holder");
    });

    editor.on("change", () => {
        сhangeEventDataAsEventType(editor, eventsMapper, previousEventTypeValueStorage);
    });

</script>

{% endblock %}