{% extends "base.html" %}
{% block content %}

<!-- JSON Editor Holder -->
<div id="editor_holder" class="p-3 border rounded shadow-sm"></div>

<div class="container mt-4 text-center">
    <!-- Action Buttons (Save, View, Delete) -->
    <div class="btn-container-horizontal mt-4 d-flex justify-content-center">
        {% if is_edit %}
            <button type="button" class="btn btn-success btn-custom mx-2" onclick="saveExistingAssignment('{{ assignment._id }}')">Save Assignment</button>
            <button class="btn btn-secondary btn-custom mx-2" onclick="viewAssignment('{{ assignment._id }}')">View Assignment</button>
            <button class="btn btn-danger btn-custom mx-2" onclick="deleteAssignment('{{ assignment._id }}')">Delete Assignment</button>
        {% else %}
            <button type="button" class="btn btn-success btn-custom mx-2" onclick="createNewAssignment()">Create Assignment</button>
        {% endif %}
    </div>
</div>

<!-- Initialize Json Editor -->
<script>

    const schema = {{ form_schema | tojson }};
    const initialData = {{ assignment | tojson }};
    const eventTypeMapper = {{ event_type_mapper | tojson }};

    const element = document.getElementById('editor_holder');

    const editor = new JSONEditor(element, {
        schema: schema,
        startval: initialData,
        theme: 'bootstrap5',
        iconlib: 'bootstrap',
        compact: true,
        disable_collapse: false,
        disable_edit_json: true,
        disable_properties: true,
        layout: "normal",
        show_errors: "interaction",
        array_controls_top: true,
        use_name_attributes: true,
    });

    let previousEventTypeValueStorage = {}

    editor.on("ready", () => {
        // getFromLocalStorage(editor);
        previousEventTypeValueStorage = collectEventPathsAndValues(editor);
        expandTextareas("editor_holder");
    });

    editor.on("change", () => {
        сhangeEventDataAsEventType(editor, eventTypeMapper, previousEventTypeValueStorage);
    });

</script>

{% endblock %}