{% extends "base.html" %}

{% block title %}
<title>Assignments</title>
{% endblock %}

{% block content %}

<div class="container mt-4 text-center">
    <div class="btn-container-vertical">
        <!-- "create" route will generate a new assignment and redirect to /assignment/{assignment_id} -->
        <a href="/assignment/new" class="btn btn-primary btn-custom">Create Assignment</a>
        <a href="/assignment/list" class="btn btn-primary btn-custom">View Assignments</a>
    </div>
</div>

{% endblock %}
