{% extends "base.html" %}

{% block title %}
    {% if group_view %}
        <title>Assignment latest view</title>
    {% else %}
        <title>Assignment view</title>
    {% endif %}
{% endblock %}

{% block styles %}
<style>
    .container-main {
        width: 80%;
        margin: 0 auto;
    }
    .section {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .section-small {
        margin-bottom: 5px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .image-description {
        font-style: italic;
        color: #555;
    }
    .container-top {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    .left-column,
    .right-column {
        width: 50%;
    }
    .section-top {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 370px; /* Set a fixed height for the top part */
    }
    h2 {
        font-size: 1.2em;
        margin-bottom: 5px;
    }
    .event-images {
        display: flex;
        flex-direction: column; /* Stack images vertically */
        gap: 10px;
    }
    .event-images img {
        width: 100%; /* Make image width 100% of its container */
        max-width: 30%; /* Limit the image width to 80% of the screen */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Ensure images stack vertically */
    }
    .foldable-header {
        cursor: pointer;
        font-weight: bold;
        display: flex;
        align-items: center;
        color: black; /* Black text */
    }
    .foldable-header span {
        margin-right: 10px;
        font-size: 12px;
        font-weight: bold;
    }
    .foldable-header p {
        margin: 0;
    }
    .foldable-content {
        display: none; /* Initially hidden */
        margin-top: 10px;
    }
    .event-ready {
        background-color: rgba(144, 238, 144, 0.5); /* Light transparent green */
    }
</style>
{% endblock %}

{% block content %}

    {% if assignment_data %}

        <div class="container-main">

            <div class="container-top">
                <div class="left-column">
                    <div class="section-top">
                        <h2>Assignment Name</h2>
                        <p>{{ assignment_data.name }}</p>
                        <h2>Author Email</h2>
                        <p>{{ assignment_data.author }}</p>
                        <h2>Version</h2>
                        <p>{{ assignment_data.version }}</p>
                        <h2>Status</h2>
                        <p>{{ assignment_data.status }}</p>
                        <h2>Issue number</h2>
                        <p>{{ assignment_data.issue }}</p>
                    </div>
                </div>
                <div class="right-column">
                    <div class="section-top">
                        <h2>Group ID</h2>
                        <p>{{ assignment_data.group_id }}</p>
                        <h2>Assignment ID</h2>
                        <p>{{ assignment_data.id }}</p>
                        <h2>Created At</h2>
                        <p>{{ assignment_data.created_at }}</p>
                        <h2>Updated At</h2>
                        <p>{{ assignment_data.updated_at }}</p>
                        <h2>Size Total / Doc</h2>
                        <p>{{ assignment_data.size_total }} / {{ assignment_data.size_doc }}</p>
                    </div>
                </div>
            </div>

            <div class="section">
                <h2>Description</h2>
                <p>{{ assignment_data.description | replace("\n", "<br>") | safe }}</p>
            </div>

            <!-- Blocks and Events -->
            {% for block in assignment_data.blocks %}
                {% set outer_loop = loop %}
                <div class="section">
                    <h3>{{ block.name }}</h3>
                    <p>{{ block.description | replace("\n", "<br>") | safe }}</p>

                    <!-- Render events for each block -->
                    {% if block.events %}
                        {% for event in block.events %}
                            <div class="section {% if event.event_ready %}event-ready{% endif %}">
                                 <div class="foldable-header" onclick="toggleContent(event)">
                                    <span class="toggle-icon">+</span>
                                    <p>{{ event.name }}</p>
                                </div>
                                <div class="foldable-content">

                                    {% if event.images %}
                                        <div class="event-images">
                                            {% for image in event.images %}
                                                {% if image.image_data %}
                                                    <img src="{{ image.image_data }}">
                                                {% endif %}
                                                {% if image.image_description %}
                                                    <p class="image-description">{{ image.image_description }}</p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    <p>{{ event.description | replace("\n", "<br>") | safe }}</p>
                                    <p><b>{{ event.event_type }}</b></p>
                                    <p>{{ event.event_data | replace("\n", "<br>") | safe}}</p>
                                    {% if event.check_comment or event.check_images %}
                                        <div class="section-small">
                                            <div class="foldable-header" onclick="toggleContent(event)">
                                                <span class="toggle-icon">+</span>
                                                <p>Check info</p>
                                            </div>
                                            <div class="foldable-content">
                                                <p>{{ event.check_comment | replace("\n", "<br>") | safe}}</p>
                                                {% if event.check_images %}
                                                    <div class="event-images">
                                                        {% for image in event.check_images %}
                                                            <img src="{{ image.image_data }}">
                                                            {% if image.image_description %}
                                                                <p class="image-description">{{ image.image_description }}</p>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    {% else %}
        <div class="container-main" style="text-align: center; margin-top: 50px;">
            There are no ready to show assignments in that group!
        </div>
    {% endif %}

<script>
    // Toggle foldable content visibility
    function toggleContent(event) {
        const header = event.currentTarget;
        const content = header.nextElementSibling;
        const icon = header.querySelector(".toggle-icon");
        if (content.style.display === "none" || content.style.display === "") {
            content.style.display = "block";
            icon.textContent = "−"; // Change to minus
        } else {
            content.style.display = "none";
            icon.textContent = "+"; // Change to plus
        }
    }
</script>

{% endblock %}