
.navbar-custom {
    background-color: #5a5a5a; /* Darker gray */
    color: white;
}
.navbar-custom a {
    color: white;
}

.btn-container-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-custom {
    width: 33.33%;
    margin-bottom: 1rem;
    text-align: center;
}
.btn-service {
    width: 33.33%;
    margin: 4rem auto 0;
    background-color: #6c757d;
    border-color: #6c757d;
    text-align: center;
}
.centered {
    text-align: center;
}
