{% extends "base.html" %}
{% block content %}

<div class="container mt-4 text-center">
    <h5>{% if is_edit %} Edit Assignment {% else %} Create Assignment {% endif %}</h5>

    <!-- JSON Editor Holder -->
    <div id="editor_holder"></div>

    <!-- Action Buttons (Save, Print, Delete) -->
    <div class="btn-container-horizontal mt-4 d-flex justify-content-center">
        {% if is_edit %}
            <button type="button" class="btn btn-success btn-custom mx-2" onclick="saveExistingAssignment('{{ assignment._id }}')">Save Assignment</button>
        {% else %}
            <button type="button" class="btn btn-success btn-custom mx-2" onclick="createNewAssignment()">Create Assignment</button>
        {% endif %}
        <button class="btn btn-secondary btn-custom mx-2" onclick="printAssignment()">Print Assignment</button>

        {% if is_edit %}
            <button class="btn btn-danger btn-custom mx-2" onclick="deleteAssignment('{{ assignment._id }}')">Delete Assignment</button>
        {% endif %}
    </div>
</div>

<!-- Подключаем JSON Editor -->
<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>

<script>
    // get schema
    const schema = {{ assignment_schema | tojson }};
    const initialData = {{ assignment | tojson }};

    const element = document.getElementById('editor_holder');
    const editor = new JSONEditor(element, {
        schema: schema,
        startval: initialData,
        theme: 'bootstrap5',  // Используем Bootstrap 5 тему для JSON Editor
        iconlib: 'fontawesome5',  // Используем Font Awesome 4 для иконок
        {#use_default_values: false,#}
        {#use_name_attributes: false,#}
        {#prompt_before_delete: false,#}
        {#case_sensitive_property_search: false,#}
        {#required_by_default: false,#}
        {#display_required_only: false,#}
        {#show_opt_in: false,#}
        {#no_additional_properties: false,#}
        {#ajax: false,#}
        {#disable_edit_json: true,#}
        {#disable_collapse: true,#}
        {#disable_properties: true,#}
        {#disable_array_add: false,#}
        {#disable_array_reorder: false,#}
        {#disable_array_delete: false,#}
        {#enable_array_copy: false,#}
        {#array_controls_top: false,#}
        {#disable_array_delete_all_rows: true,#}
        {#disable_array_delete_last_row: true,#}
    });


</script>

<script src="{{ url_for('static', path='js/actions.js') }}"></script>

{% endblock %}
