{% extends "base.html" %}
{% block content %}

<!-- JSON Editor Holder -->
<div id="editor_holder" class="p-3 border rounded shadow-sm"></div>

<div class="container mt-4 text-center">
    <!-- Action Buttons (Save, Print, Delete) -->
    <div class="btn-container-horizontal mt-4 d-flex justify-content-center">
        {% if is_edit %}
            <button type="button" class="btn btn-success btn-custom mx-2" onclick="saveExistingAssignment('{{ assignment._id }}')">Save Assignment</button>
            <button class="btn btn-secondary btn-custom mx-2" onclick="printAssignment('{{ assignment._id }}')">Print Assignment</button>
            <button class="btn btn-danger btn-custom mx-2" onclick="deleteAssignment('{{ assignment._id }}')">Delete Assignment</button>
        {% else %}
            <button type="button" class="btn btn-success btn-custom mx-2" onclick="createNewAssignment()">Create Assignment</button>
        {% endif %}
    </div>
</div>

<!-- Initialize Json Editor -->
<script>
    const schema = {{ form_schema | tojson }};
    const initialData = {{ assignment | tojson }};
    const eventTypeMapper = {{ event_type_mapper | tojson }};

    const element = document.getElementById('editor_holder');

    const editor = new JSONEditor(element, {
        schema: schema,
        startval: initialData,
        theme: 'bootstrap5',
        iconlib: 'bootstrap',
        compact: true,
        disable_collapse: false,
        disable_edit_json: true,
        disable_properties: true,
        layout: "normal",
        show_errors: "interaction",
        array_controls_top: true,
        use_name_attributes: true,
    });

    // loop over types of events, and update events_data
    const pattern = /^root\.actions\.\d+\.events\.\d+\.type$/
    editor.on('change', function() {
        Object.keys(editor.editors).forEach(key => {
            if (editor.editors[key] && key !== 'root') {
                const fieldPath = key; // This is the path (e.g., root.actions[0].events[0].type)
                const newValue = editor.editors[key].getValue(); // Get the new value
                // Check if the path matches root.actions.*.events.*.type
                if (fieldPath.match(pattern)) {
                    console.log(`Field with path: [${fieldPath}] changed to [${JSON.stringify(newValue)}]`);
                    const updatedPath = fieldPath.replace(/\.type$/, '.event_data');
                    const name = editor.getEditor(updatedPath);
                    name.setValue(eventTypeMapper[newValue])
                }
            }
        });
    });

    // make all text areas expanded to text size
    editor.on('ready', function() {
        const textareas = document.querySelectorAll("#editor_holder textarea");
        textareas.forEach((textarea) => {
            textarea.style.height = "auto"; // Reset height
            textarea.style.height = textarea.scrollHeight + "px"; // Adjust height
        });
    });

</script>

<script src="{{ url_for('static', path='js/actions.js') }}"></script>

{% endblock %}