{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h5 class="centered">List of all Assignments</h5>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in assignments %}
            <tr>
                <td>{{ assignment._id }}</td>
                <td>{{ assignment.name }}</td>
                <td>{{ assignment.author }}</td>
                <td>{{ assignment.created_at }}</td>
                <td>{{ assignment.updated_at }}</td>
                <td>
                    <div class="btn-group d-flex" style="width: 100%">
                        <a href="/assignment/{{ assignment._id }}" class="btn btn-primary btn-sm flex-fill">Edit</a>
                        <button onclick="viewAssignment('{{ assignment._id }}')" class="btn btn-secondary btn-sm flex-fill">View</button>
                        <button onclick="deleteAssignment('{{ assignment._id }}')" class="btn btn-danger btn-sm flex-fill">Delete</button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
