{% extends "base.html" %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}

<div class="container mt-4">
    <form action="/token" method="post" class="mx-auto" style="max-width: 400px;">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>

{% if message %}
    <script>
        alert("{{ message }}");
    </script>
{% endif %}

{% endblock %}
